/* styles.css */

* {
    margin: auto;
    text-size-adjust: inherit;
}

body {
    color: #F3DB74FF;
    background-color: #F0E1B9FF;

    width: 100vw;
    height: 100vh;
    margin: 0;

    display: grid;
    gap: 1vw;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vh 40vh;
    justify-content: center;
    align-content: end;

    overflow: hidden;
}

.inputs-field {
    position: relative;

    width: 90%;
    height: 100%;
    font-size: 0.5vw;
    padding: 1vw;
}

.sub-header {
    position: relative;
    color: #A13941FF;

    font-size: 2vw;
}

.inputs-container {
    position: relative;
    background-color: #A13941FF;

    padding: 1vw;
    box-shadow: 0.25vw 0.25vw 0.5vw #2D2926FF;
    border-radius: 2em/2em;

    display: flex;
    flex-direction: row;
}

.inputs-column {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.inputs-item {
    position: relative;

    width: 90%;
    margin: 1%;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.inputs-item input {
    position: relative;

    width: 100%;
    font-size: 1vw;
}

#dealer-info {
    grid-area: 1/1/1/1;
}

#vehicle-info {
    grid-area: 2/1/2/1;
}

#sale-pricing {
    grid-area: 1/2/span 2/ span 2;
}

#main-header {
    position: absolute;
    color: #A13941FF;
    
    left: 0;
    top: 0;

    width: 100%;
    font-size: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#submit-button {
    position: absolute;
    color: #F3DB74FF;
    background-color: #A13941FF;
    
    padding: 1vw;
    border: none;
    border-radius: 0.25em/0.25em;
    box-shadow: 0.25vw 0.25vw 0.5vw #2D2926FF;

    right: 1vw;
    bottom: 1vh;

    font-size: 2vw;
}

#submit-button:hover {
    cursor: pointer;
    color: #FCF6F5FF;
    background-color: #E94B3CFF;
}

#pdf-file {
    background-color: red;
    position: relative;
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}