/* styles.css */

* {
    margin: auto;
    text-size-adjust: inherit;
}

body {
    background-color: #F0E1B9FF;

    width: 100vw;
    height: 100vh;
    margin: 0;

    overflow: hidden;
}

.inputs-field {
    position: relative;
    font-size: max(0.5vw, 0.5vh);

    width: 90%;
    height: 90%;
}

.sub-header {
    position: relative;
    color: #A13941FF;

    max-height: 10%;

    font-size: max(2vw,2vh);
}

.inputs-container {
    position: relative;
    background-color: #A13941FF;

    width: 100%;
    height: 90%;
    box-shadow: 0.25vw 0.25vw 0.5vw #2D2926FF;
    border-radius: 1vw/1vw;

    display: flex;
    flex-direction: row;
}

.inputs-column {
    position: relative;

    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}

.inputs-item {
    position: relative;

    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputs-item-helper {
    position: relative;

    height: 1vh;

    flex-basis: 100%;
}

.inputs-item input, .inputs-item label {
    position: relative;
    font-size: max(0.5vw, 0.5vh);

    width: 100%;
}

#body-grid {
    position: relative;
    color: #F3DB74FF;

    width: 100%;
    height: 90%;

    top: 5%;

    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 30vh 30vh 30vh;
}

#main-header {
    position: absolute;
    color: #A13941FF;
    
    left: 0;
    top: 0;

    width: 100%;
    font-size: max(1vw, 1vh);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dealer-info {
    grid-area: 1/1/span 1/span 1;
}

#vehicle-info {
    grid-area: 2/1/span 1/span 1;
}

#sale-pricing {
    grid-area: 3/1/span 1/span 1;
}

#submit-button {
    position: absolute;
    color: #F3DB74FF;
    background-color: #A13941FF;
    
    padding: max(1vw, 1vh);
    border: none;
    border-radius: 1vw/1vw;
    box-shadow: 0.25vw 0.25vw 0.5vw #2D2926FF;

    right: 1%;
    bottom: -4%;

    font-size: max(1vw, 1vh);
}

#submit-button:hover {
    cursor: pointer;
    color: #FCF6F5FF;
    background-color: #E94B3CFF;
}

#pdf-file {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    grid-area: 1/2/span 3/span 1;
    
    display: flex;
    flex-direction: column;
}

#pdf-file object {
    position: relative;
    background-color: #A13941FF;

    width: 100%;
    flex: 1;


    border: #A13941FF solid 0.25vw;
    border-radius: 1vw/1vw;
}