{% extends 'base.html' %}
{% block body %}

{% with alerts = get_flashed_messages(with_categories=true) %}
    {% if alerts %}
        {% for category, alert in alerts%}
            <div class="alert-{{ category }}">
                {{ alert }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <h1>Login</h1><br>

    <form method="post" action="">
        {{ form.hidden_tag() }}
        <span>
            {{ form.userEmail.label }}
            {{ form.userEmail }}
        </span>

        <span>
            {{ form.userPassword.label }}
            {{ form.userPassword }}
        </span>

        <span class="form-button">
            {{ form.submitButton }}
        </span>

        <span>
            {% for error in form.userEmail.errors %}
                {{ error }}
            {% endfor %}

            {% for error in form.userPassword.errors %}
                {{ error }}
            {% endfor %}
        </span>
    </form>
<div>

{% endblock %}